body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(https://i.pinimg.com/originals/89/e8/f8/89e8f8fdd3c3107b6868b54e3981ce2e.jpg);
    background-size: cover; 
}