<head>
      <meta charset="UTF-8">
      <title>Compra peliculas, escoge tu butaca, en Ticketera!</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <link rel="stylesheet" href="css/Index_estilo.css">
      <link rel="website icon" type="png" href="img/pngegg.png">
    </head>
    <body>
      <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="movies.html" class="nav-link px-2 text-secondary"><img width="60px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZISfsm7IXaQpCfoWS-O-XVgoIjpNCKxM9q7Q0y1gq9K45ZSdM5F-Iu4cFTHVxcrZLdbA&usqp=CAU" alt=""></a></li>
              <li><a href="#" class="nav-link px-2 text-white">FAQ</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Contact</a></li>
              <li><a href="Cuenta.html" class="nav-link px-2 text-white">My Account</a></li>
            </ul>
 
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>
 
            <div class="text-end">
              <a href="Login.html"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
              <a href="Sign-up.html"><button type="button" class="btn btn-warning">Sign-up</button></a>
            </div>
          </div>
        </div>
      </header>